<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests">
 
<test name="FirefoxTest"> 
 <parameter name="browser" value="firefox"/> 
 <classes>
 <class name="testng.ParallelTest"/> 
 </classes>
 </test> <!-- Test For Firefox -->
 
 <test name="IETest"> 
 <parameter name="browser" value="ie"/> 
 <classes>
 <class name="testng.ParallelTest"/> 
 </classes>
 </test> <!-- Test For IE -->
 
 <test name="ChromeTest"> 
 <parameter name="browser" value="chrome"/> 
 <classes>
 <class name="testng.ParallelTest"/> 
 </classes>
 </test> <!-- Test For Chrome -->

</suite> <!-- Suite -->